@import "tailwindcss";

/* ===== DESIGN SYSTEM DOMPETKU ===== */
@theme {
  --color-primary: #0F172A;
  --color-secondary: #2563EB;
  --color-success: #16A34A;
  --color-dangera: #EF4444;
  --color-muted: #64748B;
  --color-background: #F8FAFC;
  --color-card: #FFFFFF;

  --radius-xl: 12px;
}

/* Global base style */
body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Inter, sans-serif;
}
